
/*@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Public Sans', sans-serif;
	color: black;
	/*font-weight: 50px;*/
}
/*
.parallax {
	background-image: url(./../images/bg.jpeg);
	height: 60vh;
	background-attachment: fixed;

	background-repeat: no-repeat;
	background-size: cover;
}*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.jumbotron, .footer {
	background-image: url("./../images/about/rainbow.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	/*opacity: 0.5;*/
}

.btnn {
	background-color: #9999ff;
}

a {
	color: black;
}

@media (min-width: 300px){

	/*landing*/
	.jumbotron{
		height: 100vh;
		margin-bottom: 0;

	}

	.jumbotron-container{
		padding: 80px;
	}

	.name{
		font-size: 50px;
	}

	.title{
		font-size: 20px;
	}

	.first {
		margin-top: 70px;
	}


	/*about me*/

	.aboutTitle{
		font-size: 40px;
		padding: 25px 0;
		text-decoration: underline;
    text-underline-position: under;
	}

	.about-title{
		font-size: 20px;
		font-weight: bold;
		color: black;
	}

	.about-description {
		font-weight: bold;
		color: black;
	}

	hr{
		margin-top: 60px;
	}

	.school-name{
		margin-top: 60px;
	}

	.tools-name{
		font-size: 30px;
		margin-top: 60px;
		margin-bottom: 40px;
		margin-left: 10px;
		margin-right: 10px;

	}

	/*work experience*/

	.accordion{
		margin: 0 10px;
	}

	.workTitle {
		font-size: 40px;
		margin: 50px 10px;
		text-decoration: underline;
    text-underline-position: under;
	}


	/*projects*/

	.projectTitle {
		font-size: 40px;
		margin: 50px 10px;
		text-decoration: underline;
    text-underline-position: under;
	}

	/*Contact*/
	.contactTitle{
		margin: 30px 0;
	}

	.form-col{
		padding: 0;
	}

	#inquiryForm{
		margin: 0 12px;
	}

	.connect-col {
		padding: 5px
	}

}


@media (min-width: 768px){

	/*landing*/
	.jumbotron{
		height: 100vh;
	}

	.jumbotron-container{
		padding-top: 15px;
	}

	.name{
		font-size: 50px;
	}

	.title{
		font-size: 20px;
	}

	#carouselExampleControls{
		margin-top: 50px;
	}

	.first {
		margin-top: 10px;
	}


	/*work experience*/

	.accordion{
		margin: 0 80px;
	}

	.workTitle {
		font-size: 40px;
		margin: 50px 10px;
		text-decoration: underline;
    text-underline-position: under;
	}


	/*projects*/
	.proj-row{
		margin: 0 20px;
	}
	

	/*Contact*/
	.contactTitle{
		margin: 30px 0;
	}

	.form-col{
		padding: 0;
	}

	#inquiryForm{
		margin: 0 12px;
	}

	.connect-col {
		padding: 20px
	}

}

@media (min-width: 992px){

	.navbar-collapse {
		display: flex;
		justify-content: flex-end;
		font-size: 25px;
	}

	.landing-large{
		margin-top: 35px;
	}

	.landing-img{

	}

	.second {
		margin-top: 35px;
	}

	.second-desc {
		margin-top: 20px;
	}

	/*about me*/
	#about {
		margin-top: 60px;
	}


	/*contact*/

	footer {
		padding-top: 40px;
	}
}
